# Lesson 2
Instructor's notes here: https://github.com/carmengg/eds-220-fall-2023-lessons/

## Objectives:
review core 'pandas' object: pandas.series and pandas.Dataframe

## Pandas
- python package to wrangle tabular data
- built on top of numpy
- core tool for data analysis in python

In [1]:
# import pandas & numpy with standard abbreviations
import pandas as pd
import numpy as np

## Series

A pandas.series:
- is is one of the core data structures in pandas
- a 1-dimmentional array of indexed data
- will be the columns of the pandas.Dataframe

# Creating a pandas series
Several ways of creating a pandas series:
For now, we will create a series using this syntax:

s = pd.Series(data, index=index)

In [2]:
# a Series from a numpy array 
pd.Series(np.arange(3), index=['a','b','c'])
# note: same number of indices as the number of items

a    0
b    1
c    2
dtype: int64

In [3]:
# note: The index parameter is optional

# a Series from a list of strings with default index
pd.Series(['EDS 220', 'EDS 222', 'EDS 223', 'EDS 242'])

0    EDS 220
1    EDS 222
2    EDS 223
3    EDS 242
dtype: object

## Operations on series

Arithmetic operations work on series and also most numpy functions.

Example:

In [12]:
# define a series
s = pd.Series([98,73,65], index=['Andrea', 'Beth', 'Carolina'])

# divide each element by 10
print(s /10)

Andrea      9.8
Beth        7.3
Carolina    6.5
dtype: float64

Example: Create series with True/False

In [13]:
s < 70

Andrea      False
Beth        False
Carolina     True
dtype: bool

## Attributes and Methods of Series

Two examples oof identifying missing values

- missing values in pandas are represented by np.NaN = not a number
- NaN is a type of float in numpy

In [14]:
np.NaN

nan

In [15]:
type(np.NaN)

float

In [16]:
# create a series with NA's in it

s = pd.Series([1,2,np.NaN])

In [17]:
s

0    1.0
1    2.0
2    NaN
dtype: float64

### hasnans

In [18]:
# check if it has NA's with hasnans
s.hasnans

True

### isna()
a method of series, returns a series indcating which elements are nas

In [21]:
s.isna()

0    False
1    False
2     True
dtype: bool

## Dataframes

pandas.Dataframes

Represents tabular data (think of it as a spreadsheet) and each column is a pandas.Series

## Creating a pandas.Dataframe

In [32]:
# initialize a dictionary with the columns data
d = {'col_name_1' : np.arrange(3),
    'col_name_2' : [3.1, 3.2, 3.3],
    }

AttributeError: module 'numpy' has no attribute 'arrange'

In [33]:
d = {'col_name_1' : pd.Series(np.arange(3)),
     'col_name_2' : pd.Series([3.1, 3.2, 3.3]),
     }

In [34]:
# create data frame
df = pd.DataFrame(d)
df

   col_name_1  col_name_2
0           0         3.1
1           1         3.2
2           2         3.3

## Rename columns

Let's rename these columns! rename takes a dictionary as an input

('col1_oldname' : 'col1_newname'
 'col2_oldname' : 'col2_newname'
)

In [31]:
col_names = ('col_name_1':'col1',
             'col_name_2':'col2')

df.rename(columns=col_names) # what did I do wrong?? need to look at lecturers notes...

SyntaxError: invalid syntax (184947014.py, line 1)

Note it did not modify the column name itself it made a new object!

In [35]:
df = df.rename(columns=col_names)

NameError: name 'col_names' is not defined