# Updating data frames
Lecture Notes
10-16-23
https://carmengg.github.io/eds-220-book/lectures/lesson-5-updating-dataframes.html

We will use the Palmer penguins dataset (Horst et al., 2020). This time we will import it via the seaborn package since it is included as one of seaborn’s example datasets.

In [62]:
# standard libraries
import pandas as pd
import numpy as np

# import seaborn with its standard abbreviation
import seaborn as sns

# will use the random library to create some random numbers
import random

penguins = sns.load_dataset("penguins")

# look at dataframe's head
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

## Add a column
```
df['new_col_name'] = new_column_values
```

`new_column_values` could be:
- a pd.Series or a numpy array of the same length as the data
- a single scalar (single number, single string)

Ex: create a new column where the body mass is in kilograms instead of grams, so we need to divide the body_mass_g by 1000

In [63]:
# add a new column body_mass_kg 
# sane syntax as adding a new key to a dictionary
penguins['body_mass_kg'] = penguins.body_mass_g/1000

# confirm the new column is in the data frame
print('body_mass_kg' in penguins.columns)

# take a look at the new column
penguins.head()

True

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,body_mass_kg
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male,3.75
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female,3.80
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female,3.25
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female,3.45

If we want to create a new column and insert it at a particular position we use the data frame method insert():

```
df.insert(loc = integer_index,  # location of new column
          column = 'new_col_name', 
          value = new_col_values)
```

In [64]:
# create random 3-digit codes
# random.sample used for random sampling wo replacement
codes = random.sample(range(100,1000), len(penguins))

# insert codes at the front of data frame = index 0
penguins.insert(loc=0, 
                column = 'code',
                value = codes)

In [65]:
penguins.head()

,code,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,body_mass_kg
0,502,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male,3.75
1,629,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female,3.80
2,703,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female,3.25
3,983,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,NaN
4,428,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female,3.45

## Assign multiple columns

We can assign multiple columns in the same call by using the data frame’s assign() method. The general syntax is:

```
df.assign( new_col1_name = new_col1_values, 
           new_col2_name = new_col2_values)
```

Notice the new column names are not strings, we declare them as if we were creating variables.

Ex: Suppose we want to add these new columns:

- flipper length converted from mm to cm
- a code representing the observer

We can add these columns to penguins using assign():

In [66]:
# create new columns in the data frame
# random.choices used for random sampling with replacement

# need to reassign output of assign() to update the data frame
penguins = penguins.assign( flipper_length_cm = penguins.flipper_length_mm /10, 
                            observer = random.choices(['A','B','C'], k=len(penguins)))

# why k?? Bc the documentation assigned it "k"

In [67]:
# alternative: make the arraw separate
observers = random.choices(['A','B','C'], 
                           k=len(penguins))

# could just use "observers" in code above
# penguins = penguins.assign( flipper_length_cm = penguins.flipper_length_mm /10, observers)

## Removing columns

Use the drop() method

Syntax:
```
df=df.drop(columns=col_names)
```

col_names can be a single one, or a list of column names

Ex: drop flipper length in mm and body mass in g

In [68]:
# drop 'flipper_length_mm', 'body_mass_g' columns
penguins=penguins.drop(columns=['flipper_length_mm', 'body_mass_g'])

print(penguins.columns)

Index(['code', 'species', 'island', 'bill_length_mm', 'bill_depth_mm', 'sex',
       'body_mass_kg', 'flipper_length_cm', 'observer'],
      dtype='object')

## Updating values

Sometimes we want to update certain values in our dataframes

### Single value

- `at[]`: select by labels
- `iat[]`: select by integer index/positioon

Syntax for `at[]`:

```
df.at[single_index_value, 'col_name']
```

It is the equivalend to loc when accessing a single value

Ex: want to know bill length of penguin in 4th row

In [69]:
penguins.at[3, 'bill_length_mm']

nan

We got an na, let's update to 38.3 mm using `at[]`

In [70]:
penguins.at[3, 'bill_length_mm'] = 38.3

In [71]:
penguins.at[3, 'bill_length_mm']

38.3

In [72]:
# let's use iat now

penguins.iat[1,0] = 999
penguins.head()

,code,species,island,bill_length_mm,bill_depth_mm,sex,body_mass_kg,flipper_length_cm,observer
0,502,Adelie,Torgersen,39.1,18.7,Male,3.75,18.1,B
1,999,Adelie,Torgersen,39.5,17.4,Female,3.80,18.6,C
2,703,Adelie,Torgersen,40.3,18.0,Female,3.25,19.5,B
3,983,Adelie,Torgersen,38.3,NaN,NaN,NaN,NaN,A
4,428,Adelie,Torgersen,36.7,19.3,Female,3.45,19.3,C

## Update multiple values in a column

### By condition

Think of `case_when` in R. 

Example: 

We want to classify penguins such that:

- small penguins: body mass < 3kg
- medium penguins: body mass between <=3kg - 5kg
- big penguins above 5 kg

We can use numpy.select to make a new column

In [73]:
# create list with conditions
conditions = [penguins.body_mass_kg < 3, 
              (3 <= penguins.body_mass_kg) & (penguins.body_mass_kg < 5),
              5 <= penguins.body_mass_kg]

# create a list with the choices
choices = ["small",
           "medium",
           "large"]

# add the selections using np.select
# default = value for anything that falls outside conditions
penguins['size'] = np.select(conditions, choices, default=np.nan)

penguins.head()

,code,species,island,bill_length_mm,bill_depth_mm,sex,body_mass_kg,flipper_length_cm,observer,size
0,502,Adelie,Torgersen,39.1,18.7,Male,3.75,18.1,B,medium
1,999,Adelie,Torgersen,39.5,17.4,Female,3.80,18.6,C,medium
2,703,Adelie,Torgersen,40.3,18.0,Female,3.25,19.5,B,medium
3,983,Adelie,Torgersen,38.3,NaN,NaN,NaN,NaN,A,nan
4,428,Adelie,Torgersen,36.7,19.3,Female,3.45,19.3,C,medium

### Update a column by selecting values

Sometimes want to update a few values that satisfy a condition. 
We can do this by selecting loc and then assigning a new value

```
# modifies data in place
df.loc[row_selection, col_name] = new_values
```

where

- row_selection is the rows we want to update,
- col_name is a single column name, and
- new_values is the new value or values we want. If using multiple values, then new_values must be of the same length as the number of rows selected

Ex: Suppose we want to update the “Male” value in the sex column to “M”.

In [74]:
penguins.loc[penguins.sex=="Male", "sex"] = "M"

In [75]:
penguins.sex.unique()

array(['M', 'Female', nan], dtype=object)

## `SettingWithCopyWarning`

Suppose we wanted to update Female to F, this is an example that we might try but won't work

In [76]:
# select rows and columns with two selection brackets [][] (chained indexing), instead of loc[]
# then trying to update the values
penguins[penguins.sex=='Female']['sex'] = 'F'

/tmp/ipykernel_7789/3386515795.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  penguins[penguins.sex=='Female']['sex'] = 'F'

When we select the data we want to update using chained indexing ([][]) instead of loc[] we get a SettingWithCopyWarning. Wit this warning, pandas is trying to alert us to a potential bug. In this case that we did not update our data frame:

In [77]:
# no values were updated
penguins.sex.unique()

array(['M', 'Female', nan], dtype=object)

To see what is going on we need to understand that some pandas operations return a view to your data, while others return a copy of your data.

- **Views** are actual subsets of the original data, when we update them, we are modifying the original data frame.

- **Copies** are unique objects, independent of our original data frames. When we update a copy we are not modifying the original data frame.

Depending on what we are trying to do we might want to modify the original data frame or we might want to modify a copy.

## Another `SettingWithCopyWarning`
Another common situation where SettingWithCopyWarning comes up is when we try to update a subset of a data frame we have already stored in a new variable.

Example

Suppose we only want to use data from Biscoe island and, after doing some analyses, we want to add a new column to it:

In [78]:
# select penguins from Biscoe island
biscoe = penguins[penguins.island=='Biscoe']

# ... Imagine 50 lines of code here...

# add a column, we get a warning
biscoe['sample_col'] = 100

/tmp/ipykernel_7789/1976065338.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  biscoe['sample_col'] = 100

It might not seem like it, but we have a chained assignment here too. We essentialy wrote:

`penguins[penguins.island=='Biscoe']['sample_col'] = 100`

To fix this we can take **control of the copy-view situation and explicitely ask for a copy of the dataset when subsetting the data**. Use the copy() method to do this:

In [79]:
# make sure you get a new data frame with penguins from Biscoe island
# I want this to be a copy!
biscoe = penguins[penguins.island=='Biscoe'].copy()

# add a column, no warning
biscoe['sample_col'] = 100

In [80]:
biscoe.head()

,code,species,island,bill_length_mm,bill_depth_mm,sex,body_mass_kg,flipper_length_cm,observer,size,sample_col
20,404,Adelie,Biscoe,37.8,18.3,Female,3.40,17.4,A,medium,100
21,382,Adelie,Biscoe,37.7,18.7,M,3.60,18.0,A,medium,100
22,306,Adelie,Biscoe,35.9,19.2,Female,3.80,18.9,C,medium,100
23,191,Adelie,Biscoe,38.2,18.1,M,3.95,18.5,B,medium,100
24,576,Adelie,Biscoe,38.8,17.2,M,3.80,18.0,C,medium,100